In [26]:
# list of High School
High_school = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

for school in high_school:
    print(school)

NameError: name 'high_school' is not defined

In [3]:
# A dictionary of High schools and the type of school
high_school_types =[{"High School": "Griffin" , "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for types in high_school_types:
    print (types)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [4]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [5]:
import pandas as pd

In [6]:
#create a pandas series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [7]:
school_series[10]

'Wright High School'

In [8]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [9]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [10]:
# Three separate lists of information on high Schools
school_id = [0, 1, 2, 3, 4]
School_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]
type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
#initalize a new dataFrame
schools_df = pd.DataFrame()

In [12]:
# add the list to a new DataFrame
schools_df["School ID"] = school_id

#add the school name and type to the Dataframe
schools_df["School_name"] = School_name
schools_df["Type"] = type_of_school


#print dataframe
schools_df

   School ID            School_name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [13]:
school_dict = pd.DataFrame()

In [19]:
#create a dictionary of informaiton on high schools
high_schools_dict = {'School ID': school_id, 'School Name':School_name, 'Type':type_of_school}

In [20]:
school_dict = pd.DataFrame(high_schools_dict)
print(school_dict)

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [24]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [25]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [31]:
school_id = ["0","1","2"]
school_name = ["Huang HS", "Figueroa HS","Shelton HS"]
school_type = ["District", "District","Charter"]

school_total = pd.DataFrame(school_id)
print(school_total)

   0
0  0
1  1
2  2